<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
      <title><%= v_site%></title>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <h1>Bienvenu chez <%= v_site%></h1>
    <a href="http://localhost:8080/home/login" class="lien">Accéder au site</a>
    <%if(v_prin){%>
    <a class="lien" href=<%=v_link%>>Mon Profil</a>
    <%}%>
    <br/>
    <br/>
    <p><%= v_bien%></p>
    <hr>
    <address><a href="mailto:hugo.magnaudet@gmail.com">MAGNAUDET hugo</a></address>
  </body>
  <script src="/script.js"></script>
</html>
