<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
      <title><%= v_site%></title>
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  </head>
  <body>
    <h1>Identifiez-vous sur <%= v_site%></h1>
    <% if(v_boll == false){%>
    <form id="myForm" id="iden" method="post" action="http://localhost:8080/home/inscription">
        <label class="form_col" for="lastName">Nom :</label>
        <input name="lastName" id="lastName" type="text" required="Champ Obligatoire" />
        <br/>
	      <label class="form_col" for="lastName4">Prénom :</label>
        <input name="lastName4" id="lastName4" type="text" required="Champ Obligatoire"/>
	      <br/>
	      <label class="form_col" for="lastName">Login :</label>
        <input name="lastName2" id="lastName2" type="text" required="Champ Obligatoire"/>
        <br/>
        <label class="form_col" for="myMail">Mail :</label>
        <input name="myMail" id="myMail" type="mail" required="Champ Obligatoire"/>
        <br/>
        <label class="form_col" for="pwd1">Mot de passe :</label>
        <input name="pwd1" id="pwd1" type="password" required="Champ Obligatoire"/>
        <br/>
        <label class="form_col" for="pwd2">Mot de passe (confirmation) :</label>
        <input name="pwd2" id="pwd2" type="password" required="Champ Obligatoire"/>
		    <br/>
        <span class="form_col"></span>
        <input type="submit" value="M'inscrire" id="mailto_link"/> <input type="reset" value="Annuler" />
    </form>
    <%}%>
    <% if(v_boll == true){%>
    <form id="myForm" id="sign" method="post" action="http://localhost:8080/home/login">
	    <label class="form_col" for="lastName3">Login :</label>
        <input name="lastName3" id="lastName3" type="text" required="Champ Obligatoire"/>
        <br/>
        <label class="form_col" for="pwd1">Mot de passe :</label>
        <input name="pwd3" id="pwd3" type="password" required="Champ Obligatoire"/>
        <br/>
        <span class="form_col"></span>
        <input type="submit" value="M'identifier" /> <input type="reset" value="Annuler" />
    </form>
    <%}%>
    <hr>
    <address><a href="mailto:hugo.magnaudet@gmail.com">MAGNAUDET hugo</a></address>
  </body>
  <script src="/script.js"></script>
</html>
