<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <title><%= v_site%></title>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  </head>
  <body>
    <h1><%= v_site%></h1>
    <form id="myForm" id="iden" method="post" action="http://localhost:8080/home">
      <div>
      <label class="form_col" for="iden">M'identifier </label>
      <input name="iden" id="iden" type="radio" value="1"/>
      <br />
      <label class="form_col" for="cond">M'inscrire </label>
      <input name="iden" id="cond" type="radio" value="0"/>
      <br />
      </div>
      <span class="form_col"></span>
      <input type="submit" value="Démarrer" />
    <form>
      <hr>
      <address><a href="mailto:hugo.magnaudet@gmail.com">MAGNAUDET hugo</a></address>
  </body>
  <script src="/script.js"></script>
</html>
